body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#breedSelect {
    margin: 10px;
}

button {
    margin: 10px;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#infoDump {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
}

#progressBar {
    width: 0%;
    height: 5px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

img {
    width: 50%;
}

body {
    background-color: blanchedalmond;
}